inode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="inode" type="inodeType"/>
  <xs:complexType name="inodeType">
    <xs:sequence>
      <xs:element type="xs:string" name="FileName"/>
      <xs:element type="xs:string" name="FileSize"/>
      <xs:element type="xs:string" name="FileURI"/>
      <xs:element type="xs:string" name="Author"/>
      <xs:element type="xs:string" name="NoOfSegments"/>
      <xs:element type="xs:string" name="TimeStamp"/>
      <xs:element type="xs:string" name="FBit"/>
      <xs:element type="xs:string" name="isInode"/>
      <xs:element type="xs:string" name="pubKey"/>
      <xs:element type="xs:string" name="splitPart" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>